@using B2BApp.Models
@model List<Products>

<br />
<h1 class="text-info"><b>Cos de cumparaturi</b></h1>
<br />
<br/>
<div class="row">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PRODUS</th>
                <th>NUME</th>
                <th>PRET</th>
                <th>CATEGORIE</th>
                <th>CANTITATE</th>
                <th>TOTAL</th>
                <th>ELIMINA</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Image" width="200px" height="140px"/>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price lei</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>
                        <div>
                            <a href="@Url.Action("QtyMinus","Home",new{id=item.Id})">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                            @item.Quantity
                            &nbsp;<span id="error"></span> 
                            <a href="@Url.Action("QtyPlus","Home",new{id=item.Id})">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            
                        </div>
                    </td>
                    <td>@(item.Price * item.Quantity) lei</td>
                    <td>
                        <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">INAPOI LA CUMPARATURI</a>
    </div>
    <div class="col-6 text-right">
        <h3><b>TOTAL COS</b></h3>
        <h3><b>Total :</b> @Model.Sum(c=>c.Price*c.Quantity) lei</h3>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info">CONTINUA CU FINALIZAREA COMENZII</a>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
         $(document).ready(function(){
             //called when key is pressed in textbox
             $("#quantity").keypress(function(e){
                  //if the letter in not a digit, 
                  if(e.which != 8 && e.which != 0 && (e.which <48 || e.which > 57)) {
                        //we will display error message
                        $("#error").html("Enter digits only!").show().fadeOut("slow");
                        return false;
                  }
             });
         });     
    </script>


}
