@using B2BApp.Models
@model List<Products>
<html>
    <head>
        <link href="/css/cart.css" rel="stylesheet" type="text/css" />
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #DDD;
            }

            tr:hover {background-color: #D6EEEE;}
        </style>
    </head>
    <body>
        <h2 style="font-family:verdana; text-align:center;">COSUL TAU<i class="fas fa-cart-arrow-down"></i></h2>
        <br />
    <table>
        <thead>
            <tr>
                <th>PRODUS</th>
                <th>NUME</th>
                <th>PRET</th>
                <th>CATEGORIE</th>
                <th>CANTITATE</th>
                <th>TOTAL</th>
                <th>ELIMINA</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Image" width="110px" height="110px"/>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price lei</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>
                        <div>
                            <a href="@Url.Action("QtyMinus","Home",new{id=item.Id})">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                            @item.Quantity
                            <a href="@Url.Action("QtyPlus","Home",new{id=item.Id})">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </td>
                    <td>@(item.Price * item.Quantity) lei</td>
                    <td>
                        <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
<div class="row" style="font-family:verdana; font-size: 12px; ">
    <div class="btnback">
        <a asp-action="Index" asp-controller="Home">INAPOI LA CUMPARATURI</a>
    </div>
    <div class="col-md-8" align="right">
        <h3><b>TOTAL COS</b></h3>
        <h3><b>Total :</b> @Model.Sum(c=>c.Price*c.Quantity) lei</h3>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="fcom" style="background-color: #4CAF50;
    border: none; color: white; padding: 13px 32px; text-align: center; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);">CONTINUA CU FINALIZAREA COMENZII</a>
    </div>
</div>
    </body>
</html>
