@model B2BApp.Models.Products
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@using System.Net.Http
@using B2BApp.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if(products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>Detail</title>
        <link href="/css/detail.css" rel="stylesheet" type="text/css" />
        <script src="js/style.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script type="text/javascript">
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        </script>
    </head>
    <body>
     <video width="320" height="40" autoplay muted loop id="myVideo">
            <source src="/Videos/movie.mp4" type="video/mp4">
        </video> 
 
  <form id="Detail" method="post" asp-controller="Home" asp-action="AddToCart">
            <input type="hidden" name="ID" value="@Model.Id" />

    <div class="videomess" style="font-family:verdana; height: 650px; width: 670px;">
        <div class="col-md-8" style="font-size: 14px; height: 700px; width: 600px; color: white;">
            <div class="form-group row" style="font-size: 18px; color: white;">
                <label asp-for="Name">Nume</label>
                <div>@Model.Name</div>
            </div>
        <hr />
        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductTypes.ProductType">Stil</label>
            </div>
            <div class="col-md-8">
                <div>@Model.ProductTypes.ProductType</div>
            </div>
            <span asp-validation-for="ProductTypes.ProductType" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="SpecialTags.SpecialTag">Brand</label>
            </div>
            <div class="col-md-8">
                <div>@Model.SpecialTags.SpecialTag</div>
            </div>
            <span asp-validation-for="SpecialTags.SpecialTag" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="Price">Pret</label>
            </div>
            <div class="col-md-8">
                <div>@Model.Price lei</div>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductColor">Tara de Origine</label>
            </div>
            <div class="col-md-8">
                <div>@Model.ProductColor</div>
            </div>
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductChar">Caracteristici</label>
            </div>
            <div class="col-md-8">
                <div>@Model.ProductChar</div>
            </div>
            <span asp-validation-for="ProductChar" class="text-danger"></span>
        </div>

         <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductSummary">Descriere</label>
            </div>
            <div class="col-md-8"> 
                       <div>@Model.ProductSummary</div>               
            </div>
            <span asp-validation-for="ProductSummary" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-8" style="font-family:verdana;">
                @if (product != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">STERGE DIN COS</button>
                    }
                    else
                    {
                        @if (User.IsInRole("User"))
                        {
                            @if (Model.IsAvailable)
                        {
                            <button type="submit" class="btnad" asp-action="AddToCart" asp-route-id="@Model.Id">ADAUGA IN COS <i class="fas fa-cart-plus"></i></button>
                        }
                        
                            
                        }
                        else
                        {
                           <a asp-area="Identity" asp-page="/Account/Login" class="auth">Autentifica-te pentru a putea plasa o comanda.</a> 
                           
                        }

                    }  
            </div>
        </div>
        </div>
       </div>
    </form>    
       
 <div class="col-md-4 imgbtn">
            <div class="thumb">
                <img src="~/@Model.Image" width="420" height="365" id="DetailImage"/>
                 @if (Model.IsAvailable)
                 {
                         <img src="/Images/instock-logo.JPG" width="200px" height="100px" />
                 }
                 else
                    {
                         <img src="/Images/outofstock.JPG" width="200px" height="100px" />
                    }
            </div>
            <br />
            <hr />
            <div class="form-group">
                     <a asp-action="Index" class="btncump">INAPOI LA CUMPARATURI</a>
            </div>     
      <br />
 </div>  

    </body>
</html>


